body{
    background-color: hsl(217, 54%, 11%);
}

.flex-container {
    margin: 10%;
    border: 20px solid hsl(216, 50%, 16%);
    padding: 15px;
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    background-color: hsl(216, 50%, 16%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}