body {
    background-color: hsl(217, 54%, 11%);
}

.flex-container {
    margin: auto;
    border: 20px solid hsl(216, 50%, 16%);
    background-color: hsl(216, 50%, 16%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: fit-content;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}